<app-notification></app-notification>
@if (loginDisplay) {
<div class="d-flex" style="height: 100vh; width: 100%;">
  <!-- Sidebar Backdrop (mobile) -->
  @if (mobileMenuOpen) {
  <div
    class="position-fixed top-0 start-0 w-100 h-100"
    style="background-color: rgba(0,0,0,0.4); z-index: 99;"
    (click)="mobileMenuOpen = false"
  ></div>
  }

  <app-menu-offcanvas
    [mobileOpen]="mobileMenuOpen"
    (mobileOpenChange)="mobileMenuOpen = $event"
  ></app-menu-offcanvas>

  <div class="d-flex flex-column flex-grow-1" style="min-width: 0;">
    <app-navbar
      (toggleMobileSidebar)="mobileMenuOpen = !mobileMenuOpen"
    ></app-navbar>
    @if (!isIframe) {
    <router-outlet></router-outlet>
    }
  </div>
</div>
} @else { @if (!isIframe) {
<router-outlet></router-outlet>
} }
